@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Vazir;
  font-weight: normal;
  font-style: normal;
  src:  url("/public/font/Vazir-Medium.woff") format("woff"),
   url("/public/font/Vazir-Black.woff") format("woff"),
   url("/public/font/Vazir-Light.woff") format("woff"),
   url("/public/font/Vazir-Bold.woff") format("woff"),
   url("/public/font/Vazir-Regular.woff") format("woff"),
   url("/public/font/Vazir-Thin.woff") format("woff"),
   url("/public/font/Vazir-Variable.woff") format("woff");
  font-display: swap;
}
@font-face {
    font-family: Vazir;
    src:    url("/public/font/Vazir-Light.woff") format("woff");
    font-display: swap;
    font-weight: auto;
    font-style: auto;
}@font-face {
    font-family: glyphinons;
    font-size: 30px;
    font-face-name: glyphinons;

    src: url("/public/font/glyphicons-halflings-regular.woff") format("woff");
    font-display: block;
    font-weight: bold;
    font-style: italic;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','vazir',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
